@CHARSET "ISO-8859-1";


body{
	font-family:'Raleway', sans-serif;
	padding: 0px;
	margin: 0px;
}

#HeaderLogoLink{
	
}
.logo{
	height:70px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	
	
}

formElement{
	display:block;
	margin-top:7px;
	margin-bottom:7px;
}


h1{
	color:#d21;	
}


.viewAllTable th{
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:3px;
	border-bottom-width: 2px;
	
}

.viewAllTable td{
	text-align: center;
	padding-left:12px;
	padding-right:12px;
}

.viewAllTable tr:nth-of-type(even){
	background:#d9d9d9;
}

@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		.viewAllTable table, thead, tbody, th, td, tr {
			display: block;
			border:none;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		.viewAllTable thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		.viewAllTable tr {
			border: 1px solid #ccc;
		}

		.viewAllTable td {
			/* Behave  like a "row" */
			border-left: 1px solid #000;
			border-right: 1px solid #000;
			position: relative;
			padding-left: 200px;
			padding-right:50px;
		}

		.viewAllTable td:before {
		
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 3px;
			left: 6px;
			
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
			content: attr(data-label);
		}
		
		.viewAllTable td:last-child{
			padding-bottom:7px;
			border-bottom: 1px solid #000;
		}
	}


