@CHARSET "ISO-8859-1";


body{
	font-family:'Raleway', sans-serif;
	padding: 0px;
	margin: 0px;
}

#HeaderLogoLink{
	
}
.logo{
	height:70px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	
	
}

formElement{
	display:block;
	margin-top:7px;
	margin-bottom:7px;
}


h1{
	color:#d21;	
}


.viewAllTable th{
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:3px;
	border-bottom-width: 2px;
	
}

.viewAllTable td{
	text-align: center;
	padding-left:12px;
	padding-right:12px;
}



