<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- Database connection settings -->
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://cardb.c0esel1owzlg.us-west-2.rds.amazonaws.com:3306</property>
  <property name="connection.username">notTheRealUser</property>
  <property name="connection.password">notTheRealPassword</property>
  <property name="hibernate.default_schema">CarDB</property>
  <!-- JDBC connection pool (use the built-in) -->
  <property name="connection.pool_size">1</property>
  <!-- SQL dialect -->
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache  -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">false</property>
  <!--<property name="hbm2ddl.auto">validate</property> -->
  <mapping resource="com/jasonradcliffe/hibernate/Car.hbm.xml"/>
  <mapping resource="com/jasonradcliffe/hibernate/User.hbm.xml"/>
  <mapping resource="com/jasonradcliffe/hibernate/Repair.hbm.xml"/>
  <mapping resource="com/jasonradcliffe/hibernate/FillUp.hbm.xml"/>
  <mapping resource="com/jasonradcliffe/hibernate/ServiceStation.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
